version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bun run dev
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
